{% extends 'base.html.twig' %}

{% block title %}SourceRSS index{% endblock %}

{% block body %}
    <div class="container mt-3">
        <a href="{{ path('app_source_r_s_s_new') }}" class="btn btn-primary">Nueva RSS</a>
        <div ng-app="myApp" ng-controller="SourceRSSController">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Url RSS</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                <tr ng-controller="SourceRSSController" ng-repeat="rssDates in source_r_s_ses">
                    <td >
                        [[ rssDates.title ]]
                    </td>
                    <td >
                        [[ rssDates.url ]]
                    </td>
                    <td >
                        <a ng-href="path('app_source_r_s_s_new', { 'id': rssDates.id })" class="btn btn-primary">Edit
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        app.controller('SourceRSSController', function($scope) {
            $scope.source_r_s_ses = {{ source_r_s_ses | raw }};
        });
    </script>
{% endblock %}

